.header {
    background-color: yellow;
    font-size: 18px;

    h1 {
        font-size: 22px;
    }

    p {
        font-style: 22px;
    }

    .row {
        display: flex;
    }
}